[flake8]
max-line-length = 200
extend-ignore = E203, W503, W291, W293, E121, E122, E126, E127, E128, E131
exclude = venv,logs,static,datasets,instance,.cache,yolo
per-file-ignores =
    app.py: E303, E305, E501
